
<section class="content">
    <h2><i class="ico projects"></i>Projects</h2>
    @Html.Partial("HeaderBoxPartial")
    @Html.Partial("MemberDialogPartial")
    @Html.Partial("FilterLettersPartial")
    @Html.Partial("AccordionItemsPartial")
    @Html.Partial("PaginationPartial")
</section>

@section Scripts
    {
    @Scripts.Render("~/bundles/main")
}