@model TimeSheet.PL.WebApplication.ViewModels.Shared.LayoutViewModel

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="target-densitydpi=device-dpi">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0" />
    <title>@Model.Title</title>
        <meta name="description" content="" />
        @Styles.Render("~/Content/style")
        @Scripts.Render("~/bundles/jquery")
    </head>

    <body>
        <div class="container">
            <header class="header">
                @Html.Partial("HeaderPartial")
            </header>
            <div class="wrapper">
                @RenderBody()
            </div>
            <footer class="footer">
                @Html.Partial("FooterPartial")
                @RenderSection("Footer", required: false)
            </footer>
        </div>

        @RenderSection("scripts", required: false)
    </body>
</html>
