@model TimeSheet.PL.WebApplication.ViewModels.Clients.ClientFormViewModel

@using (Html.BeginForm("Update", "Clients", FormMethod.Post))
{
    <ul class="form">
        @Html.HiddenFor(m => m.Client.Id)
        <li>
            @Html.LabelFor(m => m.Client.Name, "Client name: ")
            @Html.TextBoxFor(m => m.Client.Name, new { @class = "in-text" })
        </li>
        <li>
            @Html.LabelFor(m => m.Client.ZipCode, "Zip/Postal code: ")
            @Html.TextBoxFor(m => m.Client.ZipCode, new { @class = "in-text" })
        </li>
    </ul>
    <ul class="form">
        <li>
            @Html.LabelFor(m => m.Client.Address, "Address: ")
            @Html.TextBoxFor(m => m.Client.Address, new { @class = "in-text" })
        </li>
        <li>
        <li>
            @Html.LabelFor(m => m.Client.CountryId, "Country: ")
            @Html.DropDownListFor(m => m.Client.CountryId, Model.Countries.Select(country => new SelectListItem() { Text = country.Name, Value = country.Id.ToString(), Selected = country.Id == Model.Client.CountryId }))
        </li>
    </ul>
        <ul class="form last">
            <li>
                @Html.LabelFor(m => m.Client.City, "City: ")
                @Html.TextBoxFor(m => m.Client.City, new { @class = "in-text" })
            </li>
        </ul>
        <div class="buttons">
            <div class="inner">
                <button type="submit" class="btn green">Save</button>
                @Html.ActionLink("Delete", "Delete", "Clients", new { Model.Client.Id }, new { @class = "btn red" })
            </div>
        </div>
}
