@model TimeSheet.PL.WebApplication.ViewModels.Clients.ClientsViewModel
<section class="content">
    <h2><i class="ico clients"></i>Clients</h2>
    @Html.Partial("HeaderBoxPartial")
    <div class="new-member-wrap">
        @Html.Partial("CreateClientDialogPartial", Model.ClientFormViewModel)
    </div>
    @Html.Partial("FilterLettersPartial")
    @Html.Partial("AccordionItemsPartial")
    @Html.Partial("PaginationPartial")
</section>

@section Scripts
    {
    @Scripts.Render("~/bundles/main")
}