
<section class="content">
    <h2><i class="ico report"></i>Reports</h2>
    @Html.Partial("HeaderBoxPartial")
    @Html.Partial("ReportsTablePartial")
    @Html.Partial("TotalReportsPartial")
    @Html.Partial("ReportsActionsPartial")
</section>

@section Scripts {
    @Scripts.Render("~/bundles/ui")
}